
/ConsoleApp1/ConsoleApp1/obj
/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex
.vs/sample_repo/FileContentIndex/8a1fb29a-ab0c-416b-952c-db0f19591ca0.vsidx
/.vs
/ConsoleApp1/.vs
ConsoleApp1/ConsoleApp1.v3.ncrunchsolution.user
